.contactsBlock {
    padding: 5% 0;
    background-color: #1e1f21;
}

.blockContainer {
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-top: 50px;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.InputContainer {
    height: 100%;
    position: relative;
    transition: all .3s ease;
    width: 100%;
}

.input {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 2px;
    color: #ccc;
    display: block;
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    outline: none;
    padding: 0 20px;
    transition: all .3s ease;
    width: 100%;
    z-index: 3;
}

.ContactSpan {
    background-color: #1e1f21;
    color: #888;
    display: inline-block;
    font-family: Jost, Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0 15px;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
    transform: translate(50%, -50%);
    transition: all .3s;
    pointer-events: none;
    user-select: none;
    z-index: 1;
}

.InputContainer input:focus ~ span,
.InputContainer input:valid ~ span {
    left: -26px;
    top: -3px;
    transition: .5s;
    font-size: 12px;
}

.button {
    background-color: #1e1f21;
    border: 1px solid hsla(0, 0%, 100%, .2);
    color: #888;
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
    outline: none;
    transition: .3s;
    width: 60%;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 723px) {
    .ContactSpan {
        font-size: 16px;
    }
}

@media screen and (max-width: 584px) {
    .contact,
    .button {
        width: 95%;
    }
}