.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 849px) {
    .container {
        justify-content: center;
    }
}