.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
    position: relative;
}

.title::after{
    background-color: #888;
    content: "";
    height: 1px;
    left: 50%;
    margin-top: 10px;
    top: 80px;
    position: absolute;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    width: 60%;
}

.spanSubTitle {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}