.skillsBlock {
    min-height: 100vh;
    background-color: #1e1f21;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 0 60px 0;
}

.title {
    background-color: #ecd7f5;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
}

@media screen and (max-width: 627px) {
    .skills {
        justify-content: center;
    }
}