.mainBlock {
    height: 100vh;
    background-color: #1e1f21;
}

.position {
    color: #ffffff;
}

.text {
    color: #ffffff;
    font-weight: 700;
    font-size: 55px;
    line-height: 62px;
    font-family: "Montserrat", sans-serif;
}
.text span {
    color: #ff014f;
}

.photo {
    width: 340px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1324px) {

}

