@import "../../common/styles/sass/variables";

.project {
  width: 400px;
  height: 500px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  border-radius: 20px;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 50px;

  .picture {
    width: 80%;
    height: 60%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
  }

  .title {
    color: $textColor;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .description {
    color: #c4cfde;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: block;
  }

  @media screen and (max-width: 505px) {
    width: 100%;
  }
}
