.projectBlock {
    width: 400px;
    height: 500px;
    background-color: #181717;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictureBlock {
    width: 80%;
    height: 60%;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-image: url(https://celes.club/uploads/posts/2022-05/1652081614_5-celes-club-p-samurai-art-krasivo-6.jpg);
}

.titleBlock {
    color: #ff014f;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.descriptionBlock {
    color: #c4cfde;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: block;

}