@import "../common/styles/sass/variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  width: 300px;

  & a {
    text-decoration: none;
    color: $primaryColor;

    &:hover {
      color: $textColor;
      transition: .3s;
    }
  }
}

