@mixin contactInput () {
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, .2);
  border-radius: 2px;
  color: #ccc;
  display: block;
  font-size: 18px;
  height: 70px;
  line-height: 70px;
  outline: none;
  padding: 0 20px;
  transition: all .3s ease;
  width: 100%;
  z-index: 3;
}