.footerBlock {
    height: 30vh;
    background-color: #1e1f21;
    position: relative;
}

.footerBlock::after {
    position: absolute;
    width: 48%;
    height: 1px;
    background-color: #888;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.footerContainer {
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50px;
}

.icon {
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    text-align: center;
}

.title {
    margin: 0;
    color: #878e99;
    font-family: "Poppins", sans-serif;
    padding: 5px;
}

.rights {
    font-size: 15px;
    color: #878e99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 5px;
}

@media screen and (max-width: 584px) {
    .footerBlock::after {
        width: 75%;
    }
}