.projectsBlock {
    min-height: 100vh;
    background-color: #1e1f21;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 0 60px 0;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid;
    margin-top: 50px;
}

@media screen and (max-width: 752px) {
    .projects {
        justify-content: center;
    }
}

